In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import Grid_Analysis as ga
import Accidents as acc
from itertools import repeat
import gmaps
import gmaps.datasets

volume = pd.read_csv("Traffic_Volumes_for_2018.csv")
#volume.columns=volume.columns.str.lower()
volume.rename(columns={'multilinestring': 'multiline' },inplace=True)

volume["multiline"]=volume["multiline"].apply(lambda x: str(x).replace("MULTILINESTRING ((","").replace("))","").replace("(","").replace(")",""))

In [2]:
volume['multiline'] = volume['multiline'].apply(lambda x: str(x).split(','))

long_lst=[]
lat_lst=[]
volume_lst=[]
for idx, row in volume.iterrows():
    value = row['VOLUME']
    for str_coordinates in row['multiline']:
        coordinates = str_coordinates.strip().split(' ')
        long, lat = float(coordinates[0]), float(coordinates[1])
        #volume_lst.append(value)
       # volume_lst.append((itertools.repeat(value, 2))
        volume_lst.extend(repeat(value, 1))
        long_lst.append(long)
        lat_lst.append(lat)
len(volume_lst)

41635

In [3]:
len(long_lst)
len(lat_lst)


volume_df = pd.DataFrame(
    {'latitude': lat_lst,
     'longitude': long_lst,
     'VOLUME': volume_lst
    })
volume_df

        latitude   longitude  VOLUME
0      51.048319 -114.060367   22000
1      51.048250 -114.057908   22000
2      50.968634 -114.068768    5000
3      50.968648 -114.071465    5000
4      51.053232 -114.033722    5000
...          ...         ...     ...
41630  51.067035 -114.013325   20000
41631  50.875745 -114.035671    7000
41632  50.874594 -114.034890    7000
41633  50.875786 -114.035704   12000
41634  50.877000 -114.036530   12000

[41635 rows x 3 columns]

In [6]:
gmaps.configure(api_key="AIzaSyB6eQVQOpU6PeoX7iIGb7qosC2nJoucclg")
locations = volume_df[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=volume_df['VOLUME']))
fig

Figure(layout=FigureLayout(height='420px'))